#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

.nav-background {
  /* background: white;   */
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00); 
  background: linear-gradient(to right, #f83600, #fe8c00); 
  overflow: hidden;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.2);
  }

.navbar-dark .navbar-toggler-icon {
  background-color:  black;
  width: 48px;
  height: 42px;
  border: 2px solid black;
}  

#navbar-set{
 position: sticky;
}